#banner{
    width: 100%;
    aspect-ratio: 16/6;
    background-color: #5610DE;
    background-size: cover;
    object-fit: cover;
}



#after-login-body>#categorie-selection-bar>h1{
    color: #949494;
    font-weight: 300;
    font-size: 2rem;
}


#after-login-body>#categorie-selection-bar>#categories-div>#categorie-selection{
    width: fit-content;
}


#after-login-body>#categorie-selection-bar>#categories-div>#categorie-selection>input{
    width: 1.2rem;
    height: 1.2rem;
    border-color: #d3d3d3;
}


#after-login-body>#categorie-selection-bar>#categories-div>#categorie-selection>input:focus{
    box-shadow: none;
}

#after-login-body>#categorie-selection-bar>#categories-div>#categorie-selection>input:checked{
    background-color: #5610DE;
}


#after-login-body>#categorie-selection-bar>#categories-div>#categorie-selection>label{
    font-size: 1.1rem;
}


#after-login-body>#cloth-type-selection-div>h1{
    color: #949494;
    font-weight: 300;
    font-size: 2rem;
}








#after-login-body>#cloth-type-selection-div>#cloth-types-div>#categorie-selection{
    width: fit-content;
}


#after-login-body>#cloth-type-selection-div>#cloth-types-div>#categorie-selection>input{
    width: 1.2rem;
    height: 1.2rem;
    border-color: #d3d3d3;
}


#after-login-body>#cloth-type-selection-div>#cloth-types-div>#categorie-selection>input:focus{
    box-shadow: none;
}

#after-login-body>#cloth-type-selection-div>#cloth-types-div>#categorie-selection>input:checked{
    background-color: #5610DE;
}


#after-login-body>#cloth-type-selection-div>#cloth-types-div>#categorie-selection>label{
    font-size: 1.1rem;
}



#after-login-body>#cloth-type-selection-div>#search-button-div>button{
    background-color: #5610DE;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}


#after-login-body>#cloth-type-selection-div>#search-button-div>button:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.302);
}